
*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

a:link, a:visited, a:active {
  text-decoration:none;
}


.general {
  background: url(./components/imagenes/image-fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1920px;
  width: 100%;
}